<div class="col-md-12 col-xl-4">
    <div class="text-center bg-primary text-white py-1 border border-bottom-0">
        <h4 class="mb-0">Последние комменты</h4>
    </div>
    <div class="quotes-container bg-white shadow-sm border border-top-0 pb-2 pt-2 px-5">
        <div class="border-bottom mb-3">
            {% for comment in comments %}
                <div class="h4 text-left">{{ comment.article.title }}</div>
                <p><i class="far fa-comment text-secondary"></i> {{ comment.content }}
                    <br> — <a href="{{ path('app_article_detail', { slug: comment.article.slug }) }}">{{ comment.authorName }}, Программист {{ random(['Ruby', 'Python', 'PHP', '1C Bitric', 'Pascal', 'Java', 'C#', 'Fontend', 'Node Js']) }}</a>
                </p>
            {% endfor %}
        </div>
    </div>
</div>
