{% extends 'email/emailBase.html.twig' %}

{% block table_title %}{{ title }}{% endblock %}

{% block content %}

        {% if isWeeklyReport %}
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <h1>Новые статьи на сайте!</h1>
                            <p class="lead">За прошедшую неделю на сайте появились следующие статьи.</p>
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}

        {% for article in articles %}

            <div class="content">
                <table>
                    <tr>
                        <td class="small post-image" width="20%"><img src="{{ absolute_url(article.imagePath | imagine_filter('article_thumbnail_small')) }}" alt=""/></td>
                        <td>
                            <h3>{{ article.title }} <small>{{ article.author.firstName }}</small></h3>
                            <p class="">{{ "#{article.description}..."|markdown_to_html }}</p>
                            <a class="btn" href="{{ url('app_article_detail', { slug: article.slug }) }}">Читать</a>
                        </td>
                    </tr>
                </table>
            </div>

        {% endfor %}

{% endblock %}
