{% extends 'base_content.html.twig' %}

{% block title %}Управление Статьями{% endblock %}

{% block content %}

    <div class="admin-header-with-button">
        <h1>Управление статьями ({{ pager.nbResults }})</h1>
        <div><a class="btn btn-primary" href="{{ path('app_admin_articles_create') }}">Создать новую статью</a></div>
    </div>

    {% include 'partial/admin_form_search.html.twig' %}

    <table class="table table-striped">
    <thead>
        <tr>
            <th>Статья</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Опубликована</th>
        </tr>
    </thead>
    <tbody>
        {% for article in pager %}
            <tr>
                <td><a href="{{ path('app_article_detail', { slug: article.slug }) }}">{{ article.title }}</a></td>
                <td>{{ article.description }}</td>
                <td style="width: 20%;">{{ article.author.firstName }}</td>
                <td><i class="fas fa-{{ article.isPublished ? 'check text-primary' : 'times text-warning'}}"></i></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Нет Статей</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagerfanta(pager) }}
{% endblock %}
